# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (ignore raw & processed CSVs, but keep folder structure)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model files
models/*
!models/.gitkeep

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/